.navigation_a>li:nth-of-type(5){
	border-bottom:2px solid red;	
}
.navigation_a>li:hover{
	border-bottom:2px solid red;	
}
.navigation_a>li:nth-of-type(5) a{
	color:red;
}
.navigation_a>li>a:hover{
	color:red;
}
.author li{
	display:inline-block;
	margin-left:25px;
	margin-bottom:10px;
	font-size:16px;
}
.author i{
	display:inline-block;
	width:50px;
}
.home-tu img{
	width:100%;
	height:100%;
}

.learn{
	height:500px;
}
.learn h2{
	padding:27px 0 12px 0;
	font-size:30px;
	font-weight:300;
}
.learn h2:after{
	width:100%;
    height:7px;
    background: #d5d5d5;
    display:inline-block;  
    content: ""; 
    margin-bottom:12px;
    border-radius:8px; 
}
.height-a{
 	margin-bottom:50px;
 }
.details a {
	border-radius:8px;
	background-color:#39bffd;
	color:#fff;
	transition:0.5s;
	font-size:16px;
	padding:8px 20px;
	position: absolute;
	bottom:80px;
	right:50px;
}
@media screen and (max-width: 750px) {
	.none{
		display:none;
	}
}